<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToDoManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://epbyminw0341/ToDoManagerService/TodoManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToDoManager"
                contract="ServiceTascManager.IToDoManager" name="BasicHttpBinding_IToDoManager" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TascManager.TascManager">
                <endpoint address="" binding="basicHttpBinding" contract="TascManager.ITascManager">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TascManager/TascService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="TascManager.ServiceSync">
                <endpoint address="" binding="basicHttpBinding" contract="TascManager.IServiceSync">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TascManager/ServiceSync/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
